# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# macOS
.DS_Store

# Data & Models
data/
models/
*.csv
*.pkl
*.pth

# Logs
*.log
prediction_log.csv

# 기타
*.swp
*.bak 